In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Sort in Series

In [4]:
s1 = Series(np.random.randn(10)) # randomly create the lenth 10 of a Series 
s1

0   -0.079302
1    1.712005
2    1.463799
3   -0.559157
4   -0.172155
5    1.781843
6   -0.357336
7   -1.000045
8    0.717235
9    0.370601
dtype: float64

In [6]:
# show the value of s1
s1.values

array([-0.07930166,  1.71200484,  1.46379904, -0.55915689, -0.17215499,
        1.78184295, -0.35733628, -1.00004542,  0.71723533,  0.37060063])

In [7]:
# show the index of s1
s1.index

RangeIndex(start=0, stop=10, step=1)

### <font color="orange">sort_values() </font>

- no parameters：

    - sort the Series in ascending of values

- with parameters :
    
    - <font color="blue">ascending=False</font> : sort the Series in descending of values

In [13]:
s2 = s1.sort_values() # sort in ascending of values
s2

7   -1.000045
3   -0.559157
6   -0.357336
4   -0.172155
0   -0.079302
9    0.370601
8    0.717235
2    1.463799
1    1.712005
5    1.781843
dtype: float64

In [15]:
s2 = s1.sort_values(ascending=False) # sort in descending of values
s2

5    1.781843
1    1.712005
2    1.463799
8    0.717235
9    0.370601
0   -0.079302
4   -0.172155
6   -0.357336
3   -0.559157
7   -1.000045
dtype: float64

##  <font color="orange">sort_index() </font>

- no parameters：

    - sort the Series in ascending of index

- with parameters :
    
    - <font color="blue">asceding=False</font> : sort the Series in descending of index

In [16]:
s2 = s1.sort_index() # sort in ascending of index
s2

0   -0.079302
1    1.712005
2    1.463799
3   -0.559157
4   -0.172155
5    1.781843
6   -0.357336
7   -1.000045
8    0.717235
9    0.370601
dtype: float64

In [18]:
s2 = s1.sort_index(ascending=False) # sort in descending of index
s2

9    0.370601
8    0.717235
7   -1.000045
6   -0.357336
5    1.781843
4   -0.172155
3   -0.559157
2    1.463799
1    1.712005
0   -0.079302
dtype: float64

# Sort in Dataframe

In [25]:
# create the 8x5 data table of a DataFrame
# and rename the columns' name with A,B,C,D,E
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['A','B','C','D','E']) 
df1

          A         B         C         D         E
0  1.187631 -0.208435  1.531844 -1.360335  0.722019
1  0.956921  0.508694 -1.035132  1.121909 -0.454697
2  0.497688  1.110877 -0.929651 -0.793396  0.618785
3 -0.109031  2.362690  1.006136  0.654070  0.659317
4 -0.467002  0.868967 -0.754774  0.659473  1.429110
5 -0.053054  0.410339 -0.644959  0.024391 -0.146261
6 -1.251704  0.173099  0.328931 -0.444761 -0.351639
7  1.810039 -0.852753 -0.868508  1.039627 -0.570113

### <font color="orange">sort_values() </font>

- no parameters：

    - sort the Series in ascending of values

- with parameters :
    
    - <font color="blue">ascending=False</font> : sort the Series in descending of values
    
- note :
    
    - df_name('column_name').sort_values : return a Series in descending of column_name
    
    - df_name.sort_values('column_name') :

In [26]:
df1['A'].sort_values() # return a Series in descending values of column A

6   -1.251704
4   -0.467002
3   -0.109031
5   -0.053054
2    0.497688
1    0.956921
0    1.187631
7    1.810039
Name: A, dtype: float64

In [31]:
df1['A'].sort_values(ascending=False) # return a Series in ascending values of column A

7    1.810039
0    1.187631
1    0.956921
2    0.497688
5   -0.053054
3   -0.109031
4   -0.467002
6   -1.251704
Name: A, dtype: float64

In [30]:
df1.sort_values('A') # return a DataFrame table in descending values of column A

          A         B         C         D         E
6 -1.251704  0.173099  0.328931 -0.444761 -0.351639
4 -0.467002  0.868967 -0.754774  0.659473  1.429110
3 -0.109031  2.362690  1.006136  0.654070  0.659317
5 -0.053054  0.410339 -0.644959  0.024391 -0.146261
2  0.497688  1.110877 -0.929651 -0.793396  0.618785
1  0.956921  0.508694 -1.035132  1.121909 -0.454697
0  1.187631 -0.208435  1.531844 -1.360335  0.722019
7  1.810039 -0.852753 -0.868508  1.039627 -0.570113

In [33]:
df1.sort_values('A',ascending=False) # return a DataFrame table in ascending values of column A

          A         B         C         D         E
7  1.810039 -0.852753 -0.868508  1.039627 -0.570113
0  1.187631 -0.208435  1.531844 -1.360335  0.722019
1  0.956921  0.508694 -1.035132  1.121909 -0.454697
2  0.497688  1.110877 -0.929651 -0.793396  0.618785
5 -0.053054  0.410339 -0.644959  0.024391 -0.146261
3 -0.109031  2.362690  1.006136  0.654070  0.659317
4 -0.467002  0.868967 -0.754774  0.659473  1.429110
6 -1.251704  0.173099  0.328931 -0.444761 -0.351639

##  <font color="orange">sort_index() </font>

- no parameters：

    - sort the Series in ascending of index

- with parameters :
    
    - <font color="blue">asceding=False</font> : sort the Series in descending of index

In [40]:
df2 = df1.sort_values('A') # get a unordered dataframe
df2

          A         B         C         D         E
6 -1.251704  0.173099  0.328931 -0.444761 -0.351639
4 -0.467002  0.868967 -0.754774  0.659473  1.429110
3 -0.109031  2.362690  1.006136  0.654070  0.659317
5 -0.053054  0.410339 -0.644959  0.024391 -0.146261
2  0.497688  1.110877 -0.929651 -0.793396  0.618785
1  0.956921  0.508694 -1.035132  1.121909 -0.454697
0  1.187631 -0.208435  1.531844 -1.360335  0.722019
7  1.810039 -0.852753 -0.868508  1.039627 -0.570113

In [39]:
df2.sort_index() # return a data frame table in descending of index

          A         B         C         D         E
0  1.187631 -0.208435  1.531844 -1.360335  0.722019
1  0.956921  0.508694 -1.035132  1.121909 -0.454697
2  0.497688  1.110877 -0.929651 -0.793396  0.618785
3 -0.109031  2.362690  1.006136  0.654070  0.659317
4 -0.467002  0.868967 -0.754774  0.659473  1.429110
5 -0.053054  0.410339 -0.644959  0.024391 -0.146261
6 -1.251704  0.173099  0.328931 -0.444761 -0.351639
7  1.810039 -0.852753 -0.868508  1.039627 -0.570113

In [37]:
df2.sort_index(ascending=False) # return a data frame table in ascending of index

          A         B         C         D         E
7  1.810039 -0.852753 -0.868508  1.039627 -0.570113
6 -1.251704  0.173099  0.328931 -0.444761 -0.351639
5 -0.053054  0.410339 -0.644959  0.024391 -0.146261
4 -0.467002  0.868967 -0.754774  0.659473  1.429110
3 -0.109031  2.362690  1.006136  0.654070  0.659317
2  0.497688  1.110877 -0.929651 -0.793396  0.618785
1  0.956921  0.508694 -1.035132  1.121909 -0.454697
0  1.187631 -0.208435  1.531844 -1.360335  0.722019