In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# create a 3x3 DataFram
# values in 0 - 8
# columns name : A, B, C
df1 = DataFrame(np.arange(9).reshape(3,3), index=['BJ','SH','GZ'], columns=['A','B','C'])
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [3]:
df1.index # return df1 index values

Index(['BJ', 'SH', 'GZ'], dtype='object')

## 方法一 ： 通过 Series 修改

- DataFrame 是一种 Series

In [4]:
df1.index = Series(['bj','sh','gz'])

In [5]:
df1

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

## 方法二：index.map(mapper)

- 修改 index 值

- mapper : function

    - str.upper : 将所有 index 变成大写
    
    - str.lower : 将所有 index 变成小写
    
    - 也可以是用户自己写的函数
    
- 注意 ： 产生的是新 index 的临时值，原值并不改变；如需要改变原值，则需要给原变量赋值

In [6]:
df1.index.map(str.upper) # 产生新的 index 值

Index(['BJ', 'SH', 'GZ'], dtype='object')

In [7]:
df1.index # 原值并不改变

Index(['bj', 'sh', 'gz'], dtype='object')

In [8]:
# 给原变量进行赋值，得到新的 index 值
# 将原 index 值 全部变成 大写
df1.index = df1.index.map(str.upper)
df1.index

Index(['BJ', 'SH', 'GZ'], dtype='object')

In [9]:
df1

    A  B  C
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [10]:
# 给原变量进行赋值，得到新的 index 值
# 将原 index 全部变成小写
df1.index = df1.index.map(str.lower)
df1.index

Index(['bj', 'sh', 'gz'], dtype='object')

In [11]:
df1

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [12]:
# 导入 用户函数
# 再原 index 后加上 字符串 _ABC
def test_map(x):
    return x + '_ABC'

df1.index.map(test_map)

Index(['bj_ABC', 'sh_ABC', 'gz_ABC'], dtype='object')

## 方法三：rename(index=mapper,columns=mapper)

- rename 方法 通过 mapper 方法 修改 index 和 columns 值

- mapper 与 方法二 中的 mapper 一样

- 注意： rename 方法 会修改原 index 和 columns 的值

In [13]:
df1.rename(index=str.lower,columns=str.lower)

    a  b  c
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [14]:
df1 # 原 index 和 columns 的值已经被修改

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [19]:
# 导入 用户函数
# 再原 index 后加上 字符串 _ABC
def test_map(x):
    return x + '_ABC'

df1.rename(index=test_map, columns=test_map)

        a_ABC  b_ABC  C_ABC
bj_ABC      0      1      2
sh_ABC      3      4      5
gz_ABC      6      7      8

## 方法四：rename(index={'original_index':'new_index',..}, columns={'original_column':'original_index',...})

- rename 方法 通过 字典来修改 index 和 columns 的值
- 注意 ： 产生的是新 index 和 column 的临时值，原值并不改变；如需要改变原值，则需要给原变量赋值

In [16]:
df1.rename(index={'BJ':'beijing','SH':'shanghai'},columns={'A':'a','B':'b'})

    a  b  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [17]:
df1 # 产生的是临时值，原值并不改变

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [18]:
# 给原 DataFrame 赋值 
df1 = df1.rename(index={'BJ':'beijing','SH':'shanghai'},columns={'A':'a','B':'b'})
df1

    a  b  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

## 将列表中 数字类型 变成字 符串类型

- [1,2,3,4] -> ['1','2','3','4']

### Way 1 : for loop

- 原值改变

In [58]:
list1 = [1,2,3,4]
list1

[1, 2, 3, 4]

In [60]:
for i in range (len(list1)):
     list1[i] = str(list1[i])

In [61]:
list1

['1', '2', '3', '4']

### Way 2 : 列表解析
- 原值改变

In [64]:
lis2 = [1,2,3,4]
list2

['1', '2', '3', '4']

In [65]:
[str(x) for x in list2]

['1', '2', '3', '4']

In [66]:
list2

['1', '2', '3', '4']

### Way 3 : map 方法
- 原值不变，需要给原变量赋值

In [70]:
list3 = [1,2,3,4]
list3

[1, 2, 3, 4]

In [73]:
map(str,list3) # 返回 map 对象

In [74]:
# 将 map 对象转换成 list
list(map(str,list3))

['1', '2', '3', '4']

In [76]:
list3 # 原值不变

[1, 2, 3, 4]

In [79]:
# 给原值赋值
list3 = list(map(str,list3))
list3

['1', '2', '3', '4']