# **多级 Index**

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## 单级 Index

In [2]:
s1=Series(np.random.randn(6))
s1

0    1.009119
1   -1.338705
2    0.087178
3    0.674647
4    0.935456
5    0.122815
dtype: float64

## 两级 Index

> 第一列 1,2  为第一级别 Index
>*斜体文本*
> 第二列 a,b,c 为第二级别 Index

In [3]:
# 创建具有二级 Index Series
s1=Series(np.random.randn(6),index=[['1','1','1','2','2','2',],['a','b','c','a','b','c']])
s1

1  a   -1.656580
   b   -0.567706
   c    1.284319
2  a    1.281348
   b   -0.426011
   c   -0.200747
dtype: float64

In [4]:
s1['1'] # 打印 1级 第一个 Series

a   -1.656580
b   -0.567706
c    1.284319
dtype: float64

In [5]:
type(s1['1']) # 打印 1级 第一个 Series 格式，发现它是 Series 格式

pandas.core.series.Series

In [6]:
s1[:,'a'] # 打印 第一级为 1 - 2 级，第二级为 a Index 的数据

1   -1.656580
2    1.281348
dtype: float64

## 二级 Series 与 Dataframe 的互换

### 将 二级 Series 转换成 DateFrame

- <font color="red"> unstack() 函数</font>：将具有二级索引的 Serise 转换成 DataFrame.

In [7]:
df1=s1.unstack()
df1

          a         b         c
1  0.145905  0.523269 -0.424623
2 -1.021668  1.713617  0.421012

- 用 DataFrame 创建具有二级索引数据表,结果与上面 unstack() 函数转变结果相同。

In [8]:
df2=DataFrame([s1['1'], s1['2']])
df2

          a         b         c
0  0.145905  0.523269 -0.424623
1 -1.021668  1.713617  0.421012

### DataFrame 反过来 转换成 多级 Series

- 先将原 DataFrame 数据表 转置

- 再经过 unstack() 函数 将转置后的数据，转换成 Series 转换成数据列

- 若原 DataFrame 数据表没有转置，而进行 unstack()函数操作，则 1、2 级索位置会互换

In [9]:
# DataFrame 没有 转置，进行 unstack()
# 结果 1、2 级索引，位置互换
s2=df1.unstack()
s2

a  1    0.145905
   2   -1.021668
b  1    0.523269
   2    1.713617
c  1   -0.424623
   2    0.421012
dtype: float64

In [10]:
# DataFrame 转置后,进行 unstack()
# DataFrame 成功地成了 Series
s2=df1.T.unstack()
s2

1  a    0.145905
   b    0.523269
   c   -0.424623
2  a   -1.021668
   b    1.713617
   c    0.421012
dtype: float64

### 将具有多 row 和 column 的 DataFrame 转换成 具有多级索引的 Series
- 下面穿创建了一个 row 具有多级索引 a,b（Level 1） - 1,2（Level 2）

- column 也具有多级索引 BJ，SH，GZ（Level 1） - 8,9,8,（Level 2）

In [11]:

df=DataFrame(np.arange(16).reshape(4,4), index=[['a','a','b','b'],[1,2,1,2]],columns=[['BJ','BJ','SH','GZ'],[8,9,8,8]])
df

     BJ      SH  GZ
      8   9   8   8
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [12]:
df['BJ']

      8   9
a 1   0   1
  2   4   5
b 1   8   9
  2  12  13

In [13]:
type(df['BJ'])

pandas.core.frame.DataFrame

In [14]:
df['BJ'][8]

a  1     0
   2     4
b  1     8
   2    12
Name: 8, dtype: int64