# Yahoo Finance ：查询国际金融股票价格

![](06.jpg)

# 安装 pandas-datareader

- pip install pandas-datareader

In [1]:
import pandas_datareader as pdr
alibaba = pdr.get_data_yahoo('BABA')

In [2]:
alibaba.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2016-02-29  70.580002  67.559998  67.639999  68.809998  17984200  68.809998
2016-03-01  71.839996  69.860001  70.019997  70.860001  14007700  70.860001
2016-03-02  72.040001  70.750000  72.040001  71.250000  10503000  71.250000
2016-03-03  72.589996  70.459999  71.309998  71.019997  11596400  71.019997
2016-03-04  72.959999  70.720001  70.959999  72.220001  10763600  72.220001

In [3]:
alibaba.shape

(1259, 6)

In [5]:
alibaba.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-02-22,259.459991,254.000000,257.989990,254.000000,14373400,254.000000
2021-02-23,254.899994,241.619995,247.309998,252.750000,15970700,252.750000
2021-02-24,252.000000,248.100006,252.000000,250.339996,12803800,250.339996
2021-02-25,250.339996,240.070007,250.000000,240.179993,17863100,240.179993
2021-02-26,244.899994,237.649994,244.630005,237.759995,17460500,237.759995

In [6]:
alibaba.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2016-02-29 to 2021-02-26
Data columns (total 6 columns):
High         1259 non-null float64
Low          1259 non-null float64
Open         1259 non-null float64
Close        1259 non-null float64
Volume       1259 non-null int64
Adj Close    1259 non-null float64
dtypes: float64(5), int64(1)
memory usage: 68.9 KB