# 09. 为 DataFrame 增加一列新数据
> 问题：为已经存在的 DataFrame 数据 增加一列新的数据

In [14]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [15]:
# create a dataframe
# index 默认为 0，1，2
df1 = DataFrame({"城市":["北京","上海","广州"],"人口":[1000,2000,1500]})
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广州  1500

### 方法一：DataFrame 中 一列 column 是一个 Series,  所以可以通过 Series 为 DataFrame 添加一列数据

In [17]:
df1['GDP'] = Series([1000,2000,1500])
df1

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广州  1500  1500

### 方法二 Map ：

1. 通过 Python 字典 dict 数据结构，为存在的列对象，创建一个新的 column Sereies 值
2. 通过 **map(dict)** 方法将字典与要添加的列对象相连接

In [28]:
# create a dataframe
# index 默认为 0，1，2
df1 = DataFrame({"城市":["北京","上海","广州"],"人口":[1000,2000,1500]})
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广州  1500

In [30]:
# dict = {city_name:GDP}
gdp_map = {"北京":1000,"上海":2000,"广州":1500}
df1['GDP']=df1['城市'].map(gdp_map)
df1

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广州  1500  1500

### 方法三 Series:

1. 通过 Series 添加新的列；

2. Series 对 Index 敏感，要指定 Index 顺序.

In [43]:
# create a dataframe
# index 设为 A,B,C
df1 = DataFrame({"城市":["北京","上海","广州"],"人口":[1000,2000,1500]},index=['A','B','C'])
df1

   城市    人口
A  北京  1000
B  上海  2000
C  广州  1500

In [46]:
# 例子：没有指定 Index，GDP 通过 Series 没有被加上
df1['GDP'] = Series(['1000,2000,1500'])
df1

   城市    人口  GDP
A  北京  1000  NaN
B  上海  2000  NaN
C  广州  1500  NaN

In [47]:
# 例子：指定 Index，GDP 通过 Series 没有被加上
df1['GDP'] = Series([1000,2000,1500], index = ['A','B','C'])
df1

   城市    人口   GDP
A  北京  1000  1000
B  上海  2000  2000
C  广州  1500  1500