In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
t_range = pd.date_range('2017-01-01','2017-12-31')

In [13]:
df1 = DataFrame(index=t_range)

In [10]:
df1['x'] = np.random.randint(10,100,size=len(df1))
df1

             x
2017-01-01  49
2017-01-02  12
2017-01-03  68
2017-01-04  27
2017-01-05  53
...         ..
2017-12-27  39
2017-12-28  68
2017-12-29  65
2017-12-30  18
2017-12-31  56

[365 rows x 1 columns]